@using Microsoft.CodeAnalysis.Scripting
@*@{
    ViewData["Title"] = "Admin";
    }*@
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded"/>
    <partial name="_HederRef"/>
</head>
<body class="">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar  ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">

            <ul class="nav pcoded-inner-navbar ">

                <li class="nav-item pcoded-menu-caption">
                    <label>Forms &amp; table</label>
                </li>
                <li class="nav-item">
                    <a href="form_elements.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
                </li>
                <li class="nav-item">
                    <a href="tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-align-justify"></i></span><span
                            class="pcoded-mtext">Bootstrap table</span></a>
                </li>
            </ul>

            <div class="card text-center">
                <div class="card-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="feather icon-sunset f-40"></i>
                    <h6 class="mt-3">Upgrade To Pro</h6>
                    <p>Please contact us on our email for need any support</p>
                    <a href="https://1.envato.market/PgJNQ" target="_blank"
                       class="btn btn-primary btn-sm text-white m-0">Upgrade</a>
                </div>
            </div>

        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <img src="/Admin/assets/images/logo.png" alt="" class="logo">
            <img src="/Admin/assets/images/logo-icon.png" alt="" class="logo-thumb">
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>


</header>
<!-- [ Header ] end -->


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">@ViewData["Title"]</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
                @RenderBody()
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


<!-- Required Js -->
    @RenderSection("script" ,false)

<partial name="_footerRef"/>
<partial name="_SiteMessages"/>
<script>
    const junk = document.querySelector(".fixed-button");
    junk.remove();
    function ShowMessage(title, text, theme) {
        window.createNotification({
            closeOnClick: true,
            displayCloseButton: false,
            positionClass: 'nfc-bottom-right',
            showDuration: 4000,
            theme: theme !== '' ? theme : 'success'
        })({
            title: title !== '' ? title : 'اعلان',
            message: decodeURI(text)
        });
    }
</script>
</body>

</html>
